header{
    padding: 100px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.header_text{
    width: 850px;
}
.title{
  color: var(--main-brand-color);
  hyphens:auto;      
  overflow-wrap:anywhere;  
}
.circle{
    height: 600px;
    width: 600px;

    max-height: 80vw;
    max-width: 80vw;

    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle img{
    width: 100%;
}
nav{
    margin-bottom: 120px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a{
    color: var(--secondary-text-color);
    text-decoration: none;
    
}
nav a:hover{
    color: var(--text-color);
    border-bottom: 3px solid var(--main-brand-color);
    transition: 150ms ease-in-out;
}
#toggle_button{
    display: none;
}

label[for="toggle_button"] span{
    display: none;
}

label[for="toggle_button"] span{
    font-size: 40px;
}
@media(max-width: 800px){
    nav{
        position: absolute;
        top: 1px;
        left: 1px;
        background: var(--secondary-color);
        padding: 15px;
        border-radius: 0 0 25px 0;
    }
    nav ul{
        display: none;
        flex-direction: column;
    }
    #toggle_button:checked ~ ul{
        display: flex;
        padding: 20px 0;
    }

    label[for="toggle_button"] span{
        display: block;
    }
}