#projects_section{
    padding: 70px 0;
    background-color: white;
}

#projects_section h2{
    font-size: 50px;
    text-align: center;
    color: black;
}

.img{
    width: 300px;
    height: 300px;
}

