#projects_section{
    padding: 70px 0;
    background-color: var(--light-secondary-color);
}

#projects_section h2{
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.projects_container{
    width: min-content;
    margin-left: 450px;
    padding: 0 100px;
    background-color: var(--secondary-color);
    border-radius: 100px;
    margin-top: 50px;
}

.projects_container img{
    width: 1000px;
    height: 600px;
    margin-bottom: 50px;
    border-radius: 15px;
    border: 15px solid var(--text-color);
    
}

.projects_container h3{
    font-size: 40px;
    text-align: center;
    color: var(--main-brand-color);
    padding: 10px;
}

