#about_me_section{
    padding: 100px 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
}

.about_me_container{
    width: 750px;
    max-width: 90%;
}

#about_me_section img{
    width: 400px;
    border: 15px solid var(--text-color);
    max-width: calc(90%-30px);
}

.about_me_container h2{
    font-size: 80px;
}

.about_me_container p{
    text-align: justify;
    line-height: 175%;
}

.link{
    text-decoration: none;
}

.pdf{
    background-color: var(--main-brand-color);
    width: fit-content;
    padding: 10px;
    display: flex;
    border-radius: 15px;
    margin-top: 15px;
    border: 3px solid white;
    color: white;
    transition: 150ms ease-in-out;
}

.pdf:hover{
    background-color: rgb(255, 0, 0);
    border: 3px solid rgb(255, 255, 255);
}

.download{
    padding: 5px;
    margin-left: 5px;
    color: white;
    background-color: red;
    border-radius: 50px;
    transition: 150ms ease-in-out;
}

@media(max-width: 800px){
    #about_me_section{
        padding: 50px 0;
    }

    #about_me_section h2{
        text-align: center;
        font-size: 12vw;
    }
}